
<table>
  <tr id="headers">
    <th id="votes">Votes</th>
    <th id="counter"></th>
    <th id="titles">Title</th>
    <th>Submitted by</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% counter = 1 %>
<% @posts.each do |post| %>
  <tr>
    <td id="votes"> <%= link_to "Upvote", upvote_post_path(post) %> | <%= link_to "Downvote", downvote_post_path(post) %> | <%=number_with_precision post.upvotes, :precision => 0 %> </td>
    <td id="counter"> <%= "#{counter}." %></td>
    <td id="titles"> <%= link_to(post.title, fix_url(post.url)) %></td>
    <td><%=  "submitted by #{display_name(post.user)}" %> </td>
    <td id="comments"> <%= link_to post.comments.size, post_comments_path(post) %> </td>

    <!---- <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><% link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><% counter += 1 %></td> ----!>
  </tr>
<% end %>
</table>

<br />

